<div>
    <div>
        <button (click)="logOut()">Wyloguj się</button>
    </div>
    <div *ngIf="isManager==='true'">
        <a routerLink="employees" [queryParams]="{manager: isManager, user: user}">Pracownicy</a>
        <a routerLink="tasks" [queryParams]="{manager: isManager, user: user}">Zadania</a>
        <a routerLink="teams" [queryParams]="{manager: isManager, user: user}">Zespoły</a>
    </div>
    <div *ngIf="isManager==='false'">
        <a routerLink="tasks" [queryParams]="{manager: isManager, user: user}">Moje Zadania</a>
        <a routerLink="teams" [queryParams]="{manager: isManager, user: user}">Mój Zespół</a>
    </div>
    <router-outlet></router-outlet>
</div>