<div>
        <div *ngIf="dataType=='employee'">
            <div *ngFor="let el of data; let i = index">
                <a routerLink="/details" [queryParams]='{email: el.email, isManager: isManager}'>
                    {{i}}
                    {{el.name}}
                    {{el.surname}}
                </a>
            </div>
        </div>
        <div *ngIf="dataType=='task'">
            <div *ngFor="let el of data; let i = index">
                <a routerLink="/details" [queryParams]='{content: el.content, isManager: isManager}'>
                    {{i}}
                    {{el.content}}
                </a> 
            </div>
        </div>
        <div *ngIf="dataType=='team' && isManager==='true'">
            <div *ngFor="let el of data; let i = index">
                <a routerLink="/details" [queryParams]='{name: el.name, isManager: isManager}'>
                    {{i}}
                    {{el.name}}
                </a>               
            </div>
        </div>
        <div *ngIf="dataType=='team' && isManager==='false'">
            <div *ngFor="let el of data; let i = index">
                <a routerLink="/details" [queryParams]='{email: el.email, isManager: isManager}'>
                    {{i}}
                    {{el.name}}  
                    {{el.surname}}
                </a>               
            </div>
        </div>
    <button *ngIf="isManager==='true'" (click)="onAddData(dataType)">
        Dodaj 
        <span *ngIf="dataType=='employee'">Pracownika</span>
        <span *ngIf="dataType=='task'">Zadanie</span>
        <span *ngIf="dataType=='team'">Zespół</span>
    </button>
</div>
