<div *ngIf="dataType=='employee'">
    <div>
        <div>
            <label>Imię</label>
            <input [(ngModel)]="data.name">
        </div>
        <div>
            <label>Nazwisko</label>
            <input [(ngModel)]="data.surname">
        </div>
        <div>
            <label>Stanowisko</label>
            <select [(ngModel)]="data.position">
                <option>Kierownik</option>
                <option>Pracownik</option>
            </select>
        </div>
        <div>
            <label>E-mail</label>
            <input [(ngModel)]="data.email">
        </div>
        <div>
            <label>Hasło</label>
            <input type="password" [(ngModel)]="data.password">
        </div>
        <button (click)="onAddData()">Dodaj</button>
    </div>
</div>
<div *ngIf="dataType=='task'">
    <div>
        <label>Nazwa</label>
        <input [(ngModel)]="data.content">
    </div>
    <div>
        <label>Zespół</label>
        <select [(ngModel)]="selectedTeam">
            <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
        </select>
    </div>
    <button (click)="onAddData()">Dodaj</button>
</div>
<div *ngIf="dataType=='team'">
    <div>
        <label>Nazwa</label>
        <input [(ngModel)]="data.name">
    </div>
    <div>
        <label>Członkowie:</label>
        <ul>
            <li *ngFor="let employee of employees">
                <input type="checkbox" name="employee" [value]="employee" #item (change)="onEmployeeClicked(employee, item)"> {{ employee.name + ' ' + employee.surname}}
            </li>
        </ul>
    </div>
    <button (click)="onAddData()">Dodaj</button>
</div>
